@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --cor-background: #D5D5D5;

    --cor-primaria: #292929;
    --cor-secundaria: #454545;
    --cor-terciaria: #6B6B6B;

    --cor-primaria-fonte: #F8F8F8;
    --cor-secundaria-fonte: #F7F3A1;

    --softS-color1: #ff5959;
    --softS-color2: #9db7f5;
    --softS-color3: #f5ac78;
    --softS-color4: #a7db8d;
    --softS-color5: #fae078;
    --softS-color6: #fa92b2;

    --hardS-color1: #f6975c;
    --hardS-color2: #faca5b;
    --hardS-color3: #f7ef5c;
    --hardS-color4: #87c455;
    --hardS-color5: #41c1d8;
    --hardS-color6: #5b8acc;
    --hardS-color7: #a169b9;
    --hardS-color8: #ee4f85;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", system-ui;
}
body{
    background-color: var(--cor-background);
    height: 100vh;

    display: flex;
    flex-direction: column;
}

/* ------ MENU DE NAVEGAÇÃO ------ */
#cabeçalho {
    background-color: #292929;
    color: var( --hardS-color3);
    font-family: "Press Start 2P", system-ui;
    display: flex;
    font-size: 1.5rem; /* Adaptado para ser responsivo */
    align-items: center;
    justify-content: space-between;
    padding: 23px;
}
#logo{
    font-size: 25px;
    margin-left: 20px;
    color: var(--cor-primaria-fonte);

    position: relative;
    top: 3px;
}

#nomePagina{
    font-size: 20px;

    position: relative;
    top: 3px;
   
}
#sair{
    font-size: 16px;
    background-color: #dc3545;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;

    cursor: pointer;
}
#sair:hover{
    background-color: #bb2d3b;
}
#sair:active{
    background-color: #b02a37;
}
.divMenuLateral{
    height: 100%;
    display: inline-block;
}
#menulateral{
    background-color:#494949;
    align-items: center;
    justify-content: center;    
    box-shadow: 0 4px 8px black; /* Sombra para efeito 3D */

    min-width: 263px;
    width: 100%;

    height: calc(100% - 30px);
    border-radius: 0 0 7px 7px;
    margin-left: 13px;
    margin-top: 10px;

    padding: 5px;
}

#divOpcoes{
    position: relative;
    top: 2%;
}

.opcaoMenu {
    border-bottom: 2px solid white;
    margin: 0; 
    padding: 12px; 
    width: 85%;

    margin-left: 50%; 
    transform: translate(-50%);
    font-family: "Press Start 2P", system-ui; 
    color: white;
    cursor: pointer;
    display: block;  /* faz cada link aparecer em sua própria linha */
    text-decoration: none;  /* remove o sublinhado dos links */
}
.opcaoMenu:hover{
    background-color: var(--cor-terciaria);
}
/* ---------------------------- */

#funcionariosContainer{
    display: flex;
    height: calc(100% - 86px);
}
.botoes{
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    margin-left: 30px;

}
.botoes button{
    background-color: var(--cor-primaria);
    height: 70px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
.botoes button:hover{
    background-color: var(--cor-terciaria);
}
.botao__editFunc, .botao__novoProj{
    color: #56c361;
}
.botao__excluirFunc, .botao__excluirProj{
    color: #fa4f4f;
}
.div__exibicao{
    background-color: var(--cor-secundaria);
    width: 40%;
    max-width: 500px;
    padding: 20px;
    height: 100%;

    box-sizing: border-box;

}
.projetoExibido, .funcionarioExibido{
    margin-bottom: 30px;
    cursor: pointer;

    padding: 5px;
    margin-right: 10px;

}
.projetoSelecionado, .funcionarioSelecionado{
    color: red;

    user-select: none;
}

#caixa__exibicao{
    overflow:auto;
    height: 100%;
 
}



#overlay{
    background-color:var(--cor-terciaria);
    opacity: 50%;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 998;

    display: none;
}
.modal__novoProj{
    width: 700px;
    z-index: 999;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}
.modal__novoProj .cabecalho{
    width: 710px;
    background-color: var(--cor-primaria);
    border-radius:  10px 10px 0 0;
    padding: 15px;

    color: var(--cor-primaria-fonte);
}
.modal__novoProj .cabecalho .botaoFechar{
    position: relative;
    width: 20px;
    height: 20px;
    top: -3px;
    left: 39.5%;
    user-select:none;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.modal__novoProj .cabecalho .botaoFechar:hover{
    cursor: pointer;
    opacity: 50%;
}
.modal__novoProj .cabecalho h2{
    font-weight: normal;
    font-size: 130%;
    display: inline-block;
}
.modal__novoProj .container{
    background-color: var(--cor-secundaria);
    width: 100%;
    padding: 20px;

    border-radius: 0 0 10px 10px;
}

.nomeGestor{
    margin: 0 0 20px 3px;
    color: var(--cor-primaria-fonte);
    font-weight: normal;

}

.div__nomeVagas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.span__nome{
    display: inline-block;
    width: 86%;
}
.span__nome h4{
    margin-bottom: 3px;
    margin-left: 3px;
    color: var(--cor-primaria-fonte);
    font-weight: normal;
}
.span__nome input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}
.span__vagas input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    text-align: center;

}
.inputVagasProjeto::-webkit-outer-spin-button,
.inputVagasProjeto::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.span__vagas h4{
    margin-bottom: 3px;
    margin-left: 3px;
    color: var(--cor-primaria-fonte);
    font-weight: normal;
}
.span__vagas{
    display: inline-block;
    width: 11%;
}

#inputDescricaoProjeto{
    width: 98.5%;
    height: 50px;
    margin-top: 3px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    padding-left: 5px;
}
#titulo__descricao{
    margin-left: 3px;
    color: var(--cor-primaria-fonte);
    font-weight: normal;
}
.cargos h4, .cargos select{
    display: inline-block;
    margin-bottom: 15px;
}
.cargos h4{
    color: var(--cor-secundaria-fonte);
    font-weight: normal;
}
#opcaoCargos{
    display: none;
}
.cargosProj{
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cargosProj span{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.cargosProj span input{
    position: relative;
    width: 20px;
    top: -8px;
}
.opcoesCargo{
    cursor: pointer;
}
.skills h4, .skills select{
    display: inline-block;
    margin-bottom: 10px;
}
.skills h4{
    color: var(--cor-secundaria-fonte);
    font-weight: normal;
}
.skills select{
    width: 200px;
    height: 30px;
    margin-left: -15px;
    border-radius: 5px;
}
.skillsProj h4{
    cursor: pointer;
}
.skillsDoProjeto{
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    color: var(--cor-secundaria-fonte);
    font-weight: normal;
    
}
.botao__ADD{
    height: 30px;
    padding: 5px;
    border-radius: 7px;

    background-color: #77C252;
    color: var(--cor-primaria-fonte);
    border: none;
    cursor: pointer;
}
.botao__ADD:hover{
    background-color: #89d166;
}
.botao__ADD:active{
    background-color: #569238;
}
#opcaoSkills{
    display: none;
}
.skillsProj{
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
}
.botao__criarProj{
    background-color: #77C252;
    color: var(--cor-primaria-fonte);
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.botao__criarProj:hover{
    background-color: #89d166;
}
.botao__criarProj:active{
    background-color: #569238;
}
.skillsDoProjeto{
    padding: 3px;
}
.skillSelecionada{
    border: 1px solid white;
    color: #f03434;
}
#mensagemErro{
    color: red;
    display: inline-block;
}



.modal__excluirProj, .modal__excluirFunc{
    width: max-content;
    display: none;
    z-index: 999;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    box-sizing: border-box;
}
.modal__excluirProj .cabecalho, .modal__excluirFunc .cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    box-sizing: border-box;

    background-color: var(--cor-primaria);
    border-radius:  10px 10px 0 0;
    padding: 15px;
    width: 100%;

}
.modal__excluirProj .cabecalho .botaoFechar, .modal__excluirFunc .cabecalho .botaoFechar{
    width: 20px;
}
.modal__excluirProj .cabecalho .botaoFechar:hover, .modal__excluirFunc .cabecalho .botaoFechar:hover{
    cursor: pointer;
    opacity: 50%;
}
.modal__excluirProj .container, .modal__excluirFunc .container{
    background-color: var(--cor-secundaria);
    box-sizing: border-box;
    width: 100%;
    padding: 20px;

    border-radius: 0 0 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.botoes__deletaProjeto, .botoes__deletaFuncionario{
    display: flex;
    gap: 100px;
}
.modal__excluirProj .container .botao__nao, .modal__excluirFunc .container .botao__nao{
    background-color: #2fac2f;

}
.modal__excluirProj .container .botao__nao:hover, .modal__excluirFunc .container .botao__nao:hover{
    background-color: #6cc76c;

}
.modal__excluirProj .container .botao__nao:active, .modal__excluirFunc .container .botao__nao:active{
    background-color: #127a12;

}
.modal__excluirProj .container .botao__sim, .modal__excluirFunc .container .botao__sim{
    background-color: #ec4242;

}
.modal__excluirProj .container .botao__sim:hover, .modal__excluirFunc .container .botao__sim:hover{
    background-color: #fa7373;

}
.modal__excluirProj .container .botao__sim:active, .modal__excluirFunc .container .botao__sim:active{
    background-color: #a51414;

}
.modal__excluirProj .container .botao__sim, .modal__excluirProj .container .botao__nao, .modal__excluirFunc .container .botao__sim, .modal__excluirFunc .container .botao__nao{
    color: var(--cor-primaria-fonte);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal__excluirFunc .container h3{
    text-align: center;
}

.funcionarioSelecionado_edit{
    color: #33b327;

    user-select: none;
}


.modal__editFunc{
    width: 750px;

    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%) scale(0.9);

    display: none;
    z-index: 999;


}
.modal__editFunc .botaoFechar{
    width: 20px;
}
.modal__editFunc .botaoFechar:hover{
    cursor: pointer;
    opacity: 50%;
}
.modal__editFunc .container{
    background-color: var(--cor-secundaria);

    width: 100%;

    border-radius:  0 0 10px 10px;
    padding: 15px;

    color: var(--cor-secundaria-fonte);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    box-sizing: border-box;

}



#nome__SS1{color: var(--softS-color1);}
#nome__SS2{color: var(--softS-color2);}
#nome__SS3{color: var(--softS-color3);}
#nome__SS4{color: var(--softS-color4);}
#nome__SS5{color: var(--softS-color5);}
#nome__SS6{color: var(--softS-color6);}

#nome__HS1{color: var(--hardS-color1);}
#nome__HS2{color: var(--hardS-color2);}
#nome__HS3{color: var(--hardS-color3);}
#nome__HS4{color: var(--hardS-color4);}
#nome__HS5{color: var(--hardS-color5);}
#nome__HS6{color: var(--hardS-color6);}
#nome__HS7{color: var(--hardS-color7);}
#nome__HS8{color: var(--hardS-color8);}

.input__skill{
    width: 35px;
    height: 35px;
    border-radius: 5px;

    text-align: center;
    position: relative;
    top: -11px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#nomeFuncionario_edit{
    color: var(--cor-primaria-fonte);
}

#container__softSkills, #container__hardSkills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}
#container__softSkills span, #container__hardSkills span{

    width: 40%;
    height: max-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 5px 20px 5px 0;
}

.botao__editar{
    background-color: #77C252;

    width: max-content;
    color: var(--cor-primaria-fonte);
    padding: 15px;
    border: none;
    border-radius: 10px;

    margin-top: 20px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.botao__editar:hover{
    background-color: #89d166;
    cursor: pointer;
}
.botao__editar:active{
    background-color: #569238;
    cursor: pointer;
}

.modal__editFunc hr{
   margin: 20px 0;
   width: 100%;

}

#dadosFunc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

#nomeFuncionario_edit, #emailFuncionario_edit, #cargoFuncionario_edit{
    margin-bottom: 20px;
}
#input__especialidade, #input__sobreMim{
    margin-bottom: 20px;
}
#input__especialidade, #input__sobreMim, #input__objetivos{
    width: 100%;
    margin-top: 5px;
}
#input__especialidade{
    height: 40px;
    border-radius: 10px;
    padding-left: 5px;
}
#input__sobreMim, #input__objetivos{
    height: 60px;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
}

.modal__editFunc h3, #modal__editFunc h2{
    font-weight: normal;
}

.modal__editFunc .cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;

    color: var(--cor-primaria-fonte);
    background-color: var(--cor-primaria);
    border-radius:  10px 10px 0 0;
    padding: 15px;
    width: 100%;
}
#nomePagina{
    font-size: 25px;
}
#skillsModal, #cargosModal{
    color: var(--cor-primaria-fonte);
}