@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root{
    --cor-background: #D5D5D5;

    --cor-primaria: #292929;
    --cor-secundaria: #454545;
    --cor-terciaria: #6B6B6B;

    --cor-primaria-fonte: #F8F8F8;
    --cor-secundaria-fonte: #F7F3A1;

    --softS-color1: #ff5959;
    --softS-color2: #9db7f5;
    --softS-color3: #f5ac78;
    --softS-color4: #a7db8d;
    --softS-color5: #fae078;
    --softS-color6: #fa92b2;

    --hardS-color1: #f6975c;
    --hardS-color2: #faca5b;
    --hardS-color3: #f7ef5c;
    --hardS-color4: #87c455;
    --hardS-color5: #41c1d8;
    --hardS-color6: #5b8acc;
    --hardS-color7: #a169b9;
    --hardS-color8: #ee4f85;
}

* {
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
}


body {
    font-size: 100%;
    display: flex;
    flex-direction: column;
}


.cabecalho {
    background-color: var(--cor-terciaria);
    padding: 25px;
}


.conteudo {
    flex: 1 0 auto;
    background-color: var(--cor-primaria-fonte);
    width: 50%;
    border-radius: 15px;
    align-items: center;
}


.caixa-de-dialogo {
    width: auto;
    background-color: var(--cor-secundaria);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    min-height: calc(100vh - 100px);
}


.cabecalho-interno {
    font-size: 22px;
    color: var(--cor-primaria-fonte);
    background-color: var(--cor-primaria);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.conteudo-interno-informacoes-pessoais1 {
    display: flex;
    flex-direction: row;
    padding: 20px 10px 0px 10px;
    color: var(--cor-primaria-fonte);
}


#nomeUsuarioInput {
    width: 90%;
    border-radius: 10px;
}


#cargoUsuarioInput {
    width: 70%;
    border-radius: 10px;
}


.conteudo-interno-informacoes-pessoais2 {
    display: flex;
    flex-direction: row;
    padding: 0px 10px 20px 10px;
    color: var(--cor-primaria-fonte);
}


#emailUsuarioInput {
    width: 90%; 
    border-radius: 10px;
}


#senhaUsuarioInput {
    width: 70%; 
    border-radius: 10px;
}


.soft-skills {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th, td {
    padding: 10px;
}

td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.titulo-tabela1 {
    color: var(--cor-primaria-fonte);
    width: 100%;
}


.tabela1 {
    width: 100%;
}


input[type="number"] {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-block-start:0%;
    align-items: end;
    position: absolute;
    margin-right: 0;
    text-align: center;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */


.hard-skills {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}

hr {
    background-color: white;
    margin: 0 10px;
}


.titulo-tabela2 {
    width: 100%;
    color: var(--cor-primaria-fonte);
}


.tabela2 {
    width: 100%;
}


.rodape-interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


p {
    color: var(--cor-primaria-fonte);
    padding: 10px;
}


.rodape {
     background-color: var(--cor-terciaria);
     padding: 25px;
}