:root{
    --cor-background: #D5D5D5;

    --cor-primaria: #292929;
    --cor-secundaria: #454545;
    --cor-terciaria: #6B6B6B;

    --cor-primaria-fonte: #F8F8F8;
    --cor-secundaria-fonte: #F7F3A1;

    --softS-color1: #ff5959;
    --softS-color2: #9db7f5;
    --softS-color3: #f5ac78;
    --softS-color4: #a7db8d;
    --softS-color5: #fae078;
    --softS-color6: #fa92b2;

    --hardS-color1: #f6975c;
    --hardS-color2: #faca5b;
    --hardS-color3: #f7ef5c;
    --hardS-color4: #87c455;
    --hardS-color5: #41c1d8;
    --hardS-color6: #5b8acc;
    --hardS-color7: #a169b9;
    --hardS-color8: #ee4f85;
}

html, body
{
    height: 100vh;
    background-color: var(--cor-background);

}

#logo{
    font-size: 25px;
    color: var(--cor-primaria-fonte);
}

#cabecalho {
    background-color: var(--cor-primaria);
    color: var(--hardS-color3);
    font-family: "Press Start 2P", system-ui;
    display: flex;
    font-size: 1.5rem; /* Adaptado para ser responsivo */
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: fixed;  
    width: 100%;
}

#containerInicio{
    width: 100%;
    height: 100%;
    background-color: var(--cor-background);
    color: var(--cor-primaria-fonte);
    margin: auto; /* Centraliza o container */
    padding-top: 0.5%; /* Espaço entre o cabeçalho e o container, ajuste conforme necessário */
    font-family: "Press Start 2P", system-ui; 
    position: relative;
    top: 7.9%;
    height: 100%;
    height: -webkit-calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: calc(100% - 100px); 
}

#menulateral {
    width: 100%;
    height: 100%;
    background-color:var(--cor-secundaria);
    display: block;
    align-items: center;
    justify-content: center;    
    float: left;
    box-shadow: 0 4px 8px black; /* Sombra para efeito 3D */
    position: fixed; 
    width: 15%;
    height: -webkit-calc(100% - 100px);
    height: -moz-calc(100% - 100px); 
    height: calc(100% - 100px); 
}

.opcaoMenu {
    border-bottom: 2px solid white;
    margin: 0; 
    padding: 3%; 
    width: 90%;
    margin-left: 50%; 
    transform: translate(-50%);
    font-family: "Press Start 2P", system-ui; 
    color: var(--cor-primaria-fonte);
    cursor: pointer;
    display: block;  /* faz cada link aparecer em sua própria linha */
    text-decoration: none;  /* remove o sublinhado dos links */
}


.opcaoMenu:hover {
    background-color:var(--cor-secundaria);
}


#divOpcoes {
    margin-top: 5%;
}

#container_menu {
    width: 100%;
    height: 100%;
    background-color:var(--cor-background);
    border-radius: 10px;  /* Arredonda todas as bordas */
}

#card_menu {
    width: 100%;
    background-color:var(--cor-secundaria);
    color: var(--hardS-color3);
    box-shadow: 0 4px 8px black;
    text-align: center;
    padding-top: 5%;
    justify-content: center;
    margin-top: 0%;
}

#card_cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}
#card_funcionarios {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card_projetos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card_perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-family: "Press Start 2P", system-ui;
    text-decoration: none;
}

.card-img {
    width: 100%;
    justify-content: center;
} 
