:root{
    --cor-background: #D5D5D5;

    --cor-primaria: #292929;
    --cor-secundaria: #454545;
    --cor-terciaria: #6B6B6B;

    --cor-primaria-fonte: #F8F8F8;
    --cor-secundaria-fonte: #F7F3A1;

    --softS-color1: #ff5959;
    --softS-color2: #9db7f5;
    --softS-color3: #f5ac78;
    --softS-color4: #a7db8d;
    --softS-color5: #fae078;
    --softS-color6: #fa92b2;

    --hardS-color1: #f6975c;
    --hardS-color2: #faca5b;
    --hardS-color3: #f7ef5c;
    --hardS-color4: #87c455;
    --hardS-color5: #41c1d8;
    --hardS-color6: #5b8acc;
    --hardS-color7: #a169b9;
    --hardS-color8: #ee4f85;
}


body {
    font-family: cursive;
    background: url(backgroundImage.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin: 0%;
    display: flex;
    padding: 0%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}


#Login {
    background-color: var(--cor-secundaria);
    max-width: 400%;
    padding: 30px;
    border-radius: 15px;
}


a {
    text-decoration: none;
    color: var(--hardS-color6);
}


h2 {
    color: var(--cor-primaria-fonte);
    font-size: 50px;
    line-height: 30px;
}


.caixa-de-Entrada {
    margin-bottom: 30px;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 0%;
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;    
}


button[type="submit"] {
    width: 70%;
    padding: 3%;
    background-color: var(--hardS-color6);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(20%, -0%);
}


button[type="submit"]:hover {
    background-color: var(--cor-primaria);
}


p {
    display: flex
}


.background {
    min-height: 100vh;
    width: 100%;
    background-color: var(--cor-background);
    position: relative;
}
